<h1>CS:GO Buy Generator</h1>

<h2>Refresh to generate a weapon and strategy</h2>

<p>
Buy {{ weapon }} and {{ strat }}
<br>
Your power-level is {{ roundstrength }}%
</p>
<br>Last 5 Generates

<p>
    {% for buy in show %}
    {{ buy.weapon }} and {{ buy.strat }} - power-level {{ buy.power }}%
    <br>
    {% endfor %} 

<h2>Clips</h2>
<br><br>
Nuke Ramp Push 
<br>
<iframe src='https://gfycat.com/ifr/HandmadeDiscreteEasternnewt' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Dust 2 1vX
<br>
<iframe src='https://gfycat.com/ifr/DiscreteGraciousGallowaycow' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Cache Pistol Round
<br>
<iframe src='https://gfycat.com/ifr/MaleRegularLangur' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Inferno Hax
<br>
<iframe src='https://gfycat.com/ifr/DrearyImpureArmyworm' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Cache Eco Push
<br>
<iframe src='https://gfycat.com/ifr/ShorttermScentedJaeger' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Dust 2 Goose Hold
<br>   
<iframe src='https://gfycat.com/ifr/CriminalVengefulKatydid' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Nuke Outside Hold
<br>
<iframe src='https://gfycat.com/ifr/VeneratedComposedGrassspider' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>
Inferno Round Count 14-14
<iframe src='https://gfycat.com/ifr/WanDangerousIrukandjijellyfish' frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe>
<br>

</p>